extends /layout/_default-layout

prepend config-block
  //- page_name = ''
  //- page_path = ''
  //- page_share_image = require('~/assets/meta/ogp.png')

//- append stylesheet-block

//- append javascript-block

block content-block
  .sample-icon
  | hello, world!
