section {
    background-color: #300;
    color: #fff;
}

article {
    overflow-y: scroll;
}

article h1,
article h2,
article h3,
article h4,
article strong {
    font-weight: bold;
    color: #030;
}

article a {
    color: #6a6;
}

section h1 {
    font-size: 8vw;
}
section h2 {
    font-size: 6vw;
}

section h1 span,
section h2 span,
section h3 span,
section h4 span {
    display: block;
}

code {
    background-color: #efe;
}
